<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.first.administrator.project207">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/animal2"
        android:label="동네병원"
        android:roundIcon="@mipmap/animal2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.MyinfoActivity" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".activities.ReservationActivity" />

        <service
            android:name=".Service.BeaconConnect"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".BroadCastReceiver.MyBroadCastReceiver">
            <intent-filter>
                <action android:name="GetBeaconUUID" />
            </intent-filter>
        </receiver>

      
    </application>

</manifest>