<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.project207">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hospital"
        android:label="동네병원"
        android:roundIcon="@mipmap/hospital"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ReserveActivity" />
        <activity android:name=".MyinfoActivity" />
        <activity android:name=".CheckbookActivity" />
        <activity android:name=".HistoryActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".SetDateActivity" />
        <activity android:name=".CheckWaiting"></activity>
    </application>

</manifest>